{% extends 'base_layout.html' %}

{% block title %}Financials {{ ticker  }}{% endblock %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>As of</th>
                <th>Revenue</th>
                <th>Gross margin</th>
                <th>EPS</th>
            </tr>
            </thead>
            {% for data_row in financials %}
                <tr>
                    <td>{{ data_row['date'] }}</td>
                    <td>{{ data_row['Revenue'] }}</td>
                    <td>{{ data_row['Revenue Growth'] }}</td>
                    <td>{{ data_row['EPS'] }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
