{% extends 'base_layout.html' %}

{% block title %}Stock {{ ticker  }}{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-sm">
                <h1 class="mb-3">{{ ticker | upper  }}</h1>
                <hr>
                <h2>The price: ${{ price | round(2, 'floor') }}</h2>
                <h2>Company: {{ company_name | default('Unknown') }}</h2>
            </div>
            <div class="col">
                {% include 'shared/_portfolio.html' %}
            </div>
        </div>
{% endblock %}
