<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}View Stock prices{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home.home_page') }}">Stock app</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.url_rule.endpoint == 'home.home_page' %}active{% endif %}">
                <a class="nav-link" href="{{ url_for('home.home_page') }}">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form action="{{ url_for('home.lookup') }}" method="POST">
            <input class="form-controll" type="text" name="ticker">
            <button class="btn btn-complete" type="submit">Lookup</button>
        </form>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

</body>
</html>